.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: url("../src/assets/banner-psycheck.jpg");
  background-size: cover; /* Esta propriedade ajustará a imagem para cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem no elemento */
  padding: 150px;
  padding-bottom: 300px;
}

.button-container {
  margin-top: 20px;
}

.title {
  color: #000;
}

.button {
  background-color: #FF85D0;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}
